@font-face {
    font-family: 'Bebas';
    src: url('bebas.woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #111;
	margin: 0;
	padding: 0;
}

.breadcrumb {
	background: #e5e5e5;
	padding: 2px;
}

.breadcrumb li {
	background: url(img/right-arrow.png) no-repeat center left;
	color: #444;
	display: inline-block;
	font-size: 0.9em;
	font-style: italic;
	margin-right: 7px;
	padding-left: 12px;
	text-shadow: 0 1px 0 #F5F5F5;
}

.breadcrumb li:FIRST-CHILD {
	background: none;
}

#container {
	background: #ddd;
	background: -webkit-gradient(linear, 190 top, 200 top, from(#ddd), to(#ccc));
}

#content {
	background: #F0F0F0;
	border-left: 1px solid #bbb;
	margin-left: 200px;
	min-height: 600px;
	padding-bottom: 10px;
}

footer {
	border-top: 3px solid #006a81;
	color: #aaa;
	font-family: sans-serif;
	font-size: 0.8em;
	padding: 10px 20px;
}

	footer a {
		color: #eee;
	}

#main-nav .home {
	border-bottom: 1px dashed #888;
	font-family: 'Bebas';
	margin-bottom: 10px;
	padding-bottom: 7px;
}

#main-nav .page {
	padding-left: 8px;
}

nav {
	
}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	nav a {
		color: inherit;
		display: block;
		text-decoration: none;
		text-shadow: 0 1px 0 #F0F0F0;
	}
	
	nav a:hover {
		color: #006a81;
	}
	
	nav a.select {
		color: #003e4c;
	}

.page-header {
}

.page-header h1 {
	font-family: 'Bebas';
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 0;
	padding: 10px 20px;
	text-shadow: 0 2px 0 #white;
}

.page-nav {
	float: right;
	font-family: 'Bebas';
	padding: 10px;
}

.page-nav li {
	display: inline-block;
	margin-right: 10px;
}

#sidebar {
	float: left;
	padding: 10px 0 0 5px;
	width: 195px;
}

.wiki-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	padding: 0 10px;
}

	.wiki-content h1 {
		border-bottom: 1px solid #bbb;
	    font-family: 'Bebas';
		font-size: 2em;
		letter-spacing: 1px;
		padding-bottom: 5px;
	}
	
	.wiki-content h2 {
	    font-family: 'Bebas';
		font-size: 1.6em;
	}